/* src/components/pages/Dashboard.css */
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f456;
  color: #333;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dashboard-container.dark-mode {
  background-color: #33333369;
  color: #fff;
}

.dashboard-content {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff2d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.dashboard-container.dark-mode .dashboard-content {
  background-color: #44444400;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.section-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.section-button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #1d9112;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.5s ease, transform 0.2s ease;
}

.section-button:hover {
  background-color: #b30000;
  transform: translateY(-2px);
}

.dashboard-container.dark-mode .section-button {
  background-color: #b30000;
}

.dashboard-container.dark-mode .section-button:hover {
  background-color: #1d9112;
}