/* src/components/DashboardLayout.css */
.dashboard-layout {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    position: fixed;
    inset: 0 auto 0 0;
    padding: 1rem;
    width: var(--sb-width);
    background-image: linear-gradient(to right, #1ca118, #ffffff, #d63030);
    transition: width 0.5s ease-in-out;
  }
  
  .sidebar.sb-expanded {
    width: 250px;
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding: 15px;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  .dark-mode {
    background-color: #33333300;
    color: #fff;
  }
  
  .dark-mode .sidebar {
    background-color: #44444400;
  }
  
  .dark-mode .dashboard-content {
    background-color: #33333300;
  }
  
  