.sections-container {
  padding: 20px;
}

.sections-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.commenti-list {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  padding: 10px;
  border: 1px solid red; /* Añade un borde rojo para visualizar el contenedor */
  background-color: #f9f9f9;
}

.commento {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.commento .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.commento .user-info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.commento .user-info .full-name {
  font-weight: bold;
}

.commento .user-info .email {
  color: #777;
}

.commento .commento-text {
  margin-bottom: 10px;
  font-size: 14px;
}

.commento .meta {
  font-size: 12px;
  color: #777;
}

/* Estilos para modo oscuro */
.App.dark-mode .sections-container {
  background-color: #121212;
}

.App.dark-mode .sections-container h2 {
  color: #ffffff;
}

.App.dark-mode .commenti-list {
  background-color: #333333;
  border-color: #555555;
}

.App.dark-mode .commento {
  border-bottom-color: #555555;
}

.App.dark-mode .commento .user-info .full-name {
  color: #ffffff;
}

.App.dark-mode .commento .user-info .email {
  color: #cccccc;
}

.App.dark-mode .commento .commento-text {
  color: #ffffff;
}

.App.dark-mode .commento .meta {
  color: #cccccc;
}