/* src/App.css */
:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: #333333;
  --text-color-dark: #ffffff;
}

.App {
  text-align: center;
  background-color: var(--bg-color-light);
  color: var(--text-color-light); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  transition: background-image 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  background-image: url('./lanterna.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Modo oscuro */
.App.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  background-image: url('./LalanternaGenova.png'); 
}

/* Ajustes para pantallas pequeñas */
@media only screen and (max-width: 768px) {
  .App {
    font-size: calc(8px + 1.5vmin); /* Reduce el tamaño de la fuente */
  }
}

/* Estilos para el contenido */
.container {
  width: 300px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 80px;
}

.container-content {
  padding: 20px;
  overflow-y: auto;
  max-height: 300px;
}

/* Estilos para el botón de cambio de modo oscuro */
.dark-mode-toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.dark-mode-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}

.dark-mode-toggle .switch-button {
  position: absolute;
  height: 65%;
  width: 75%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #707472;
  border-radius: 34px;
  transition: 0.4s;
}

.dark-mode-toggle .switch-button:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.dark-mode-toggle .switch-button img {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  transition: transform 0.4s;
}

.dark-mode-toggle.dark-mode .switch-button {
  background-color: #f2f39c;
}

.dark-mode-toggle.dark-mode .switch-button:before {
  transform: translateX(26px);
}

.dark-mode-toggle .switch-button img:first-child {
  transform: translateX(0);
}

.dark-mode-toggle.dark-mode .switch-button img:first-child {
  transform: translateX(26px);
}